---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://prochat.ailedseo.com/" class="gpt-title">AiledSEO Pro</a>
    <a href="https://prochat.ailedseo.com/" class="gpt-subtitle">Chat</a>
  </div>
  <p mt-1 op-60>
    Based on
    <a href="https://blog.ailedseo.com/posts/what-is-gemini"> Gemini Pro API.</a>
  </p>
</header>
